{% extends 'base_template.html' %}

{% load static %}
{% block content %}
    <!-- Advent calendar grid section-->
    <section>
        <div class="calendar-container">
            <div class="day day1">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>1</figcaption>
            </div>
            <div class="day day2">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>2</figcaption>
            </div>
            <div class="day day3">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>3</figcaption>
            </div>
            <div class="day day4">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>4</figcaption>
            </div>
            <div class="day day5">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>5</figcaption>
            </div>
            <div class="day day6">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>6</figcaption>
            </div>
            <div class="day day7">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>7</figcaption>
            </div>
            <div class="day day8">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>8</figcaption>
            </div>
            <div class="day day9">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>9</figcaption>

            </div>
            <div class="day day10">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>10</figcaption>

            </div>
            <div class="day day11">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>11</figcaption>

            </div>
            <div class="day day12">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>12</figcaption>

            </div>
            <div class="day day13">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>13</figcaption>

            </div>
            <div class="day day14">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>14</figcaption>

            </div>
            <div class="day day15">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>15</figcaption>

            </div>
            <div class="day day16">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>16</figcaption>

            </div>
            <div class="day day17">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>17</figcaption>

            </div>
            <div class="day day18">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>18</figcaption>

            </div>
            <div class="day day19">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>19</figcaption>

            </div>
            <div class="day day20">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>20</figcaption>

            </div>
            <div class="day day21">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>21</figcaption>

            </div>
            <div class="day day22">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>22</figcaption>

            </div>
            <div class="day day23">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>23</figcaption>

            </div>
            <div class="day day24">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>24</figcaption>

            </div>
            <div class="day day25">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>25</figcaption>

            </div>
            <div class="day day26">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>26</figcaption>

            </div>
            <div class="day day27">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>27</figcaption>

            </div>
            <div class="day day28">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>28</figcaption>

            </div>
            <div class="day day29">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>29</figcaption>

            </div>
            <div class="day day30">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>30</figcaption>

            </div>
            <div class="day day31">
                <img src="{% static 'images/xmaslogo.png' %}" alt="advent calendar day" />
                <figcaption>31</figcaption>
            </div>
        </div>
    </section>
{% endblock %}