{% extends 'base_template.html' %}

{% load static %}
{% block content %}
    <!-- Advent calendar grid section-->
    <section>

        <div class="container ribbon-container">
            <div class="row">
                <div class="col">

                    <h1 class="ribbon">
                        <strong class="ribbon-content">{{calendar.name}}</strong>
                    </h1>

                </div>
            </div>

        </div>

        <div class="calendar-container">
            {% for day in dates %}
            {% if day.can_be_opened %}
            <div class="day day{{forloop.counter}}" data-gift="{{day.gift}}" data-content="{{day.content}}">
            {% else %}
            <div class="day day{{forloop.counter}} inactive-day" title="This window can only be opened on the {{day.date}} of December.">
            {% endif %}
                <div class="cover cover{{forloop.counter}}">
                    {{forloop.counter}}
                </div>
            </div>
            {% endfor %}
            <div class="day team" data-gift="1" data-content="{% static 'images/team_logo.png' %}">
                <div class="cover coverteam text-center">Team Calendarers</div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="showCalendarDay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
                <h3>Ho, Ho, Ho! Merry Christmas!</h3>
            </div>
          </div>
        </div>

{% endblock %}

{% block extra_js %}
<script>
    $('.day:not(".inactive-day")').click(function(){
        let gift = $(this).data('gift');
        let content = $(this).data('content');
        if(content != 'None') {
            switch(gift){
            case 1:
                console.log(gift == 1)
                // For an image we create a new img tag
                // and render it in the modal
                let _img = $(`<img src="${content}">`);
                _img.css({'width':'100%'});
                $('#showCalendarDay .modal-body').html(_img);
                break;
            case 2:
                let video = `<iframe width="100%" height="315" src="${content}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>`;
                $('#showCalendarDay .modal-body').html(video);
                break;
            case 3:
                $('#showCalendarDay .modal-body').html(`<h3>${content}</h3>`);
                break;
            default:
                $('#showCalendarDay .modal-body').html(`<h3>${content}</h3>`)
                break;

            }
        } else {
            $('#showCalendarDay .modal-body').html('<h3>Ho, Ho, Ho! Merry Christmas!</h3>');
        }
        $('#showCalendarDay').modal('toggle')
    })
</script>
{% endblock %}