{% extends 'base_template.html' %}

{% load static %}
{% block content %}

    <section class="wrapper">
        <div class="hero d-flex flex-column justify-content-center" id="snow">
            <!-- Hero section -->
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="row">
                    </div>
                    <img class="santaclaus" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/santas.gif" alt="Flying Santa" /> Hoi Hoi Hoi!
                </div>
                <iframe src="https://giphy.com/embed/3ohA2LYLUKmKxDl4QM" width="480" height="260" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <p><a href="https://giphy.com/gifs/filmeditor-christmas-movies-the-santa-clause-3ohA2LYLUKmKxDl4QM">via GIPHY</a></p>
                <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/slay.png' %}" alt="" />
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_js %}
<!-- Three.js scripts for flakes -->
<script src="https://cdn.jsdelivr.net/npm/three@0.115.0/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/postprocessing/EffectComposer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/postprocessing/RenderPass.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/postprocessing/ShaderPass.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/shaders/CopyShader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/shaders/LuminosityHighPassShader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/postprocessing/UnrealBloomPass.js"></script>
<!-- Javascript -->
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/snowfall.js' %}"></script>
{% endblock%}
