.wrapper {
    flex: 1 0 auto;
}



@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
   100% {
        transform:rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
.login {
    width: 80%;
}
}
