.password-reset-container {
    backdrop-filter: blur(30px);

}

.forgot-btn:hover {
    transition: all 0.1s ease-in-out;
    background-color: var(--nav-color);
}

.password-reset p {
display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
}

.password-reset {
    width: 50%;
}

.password-reset input[type="email"] {
    padding: 0.2rem;
    width: 100%;
    font-weight: 700;
    border: 1px solid var(--nav-colour);
}

.password-reset label {
    font-weight: 700;
    border: none;
    text-align: left;
    width: 200px;
    padding-left: 0;
}

.password-reset input[type="email"]:focus {
    outline: 2.5px solid var(--primary-colour);
}

@media screen and (max-width: 767px) {
    .password-reset-container {
        width: 80%;
    }
}
