.signup-container {
    backdrop-filter: blur(30px);
}

.signup {
    width: 50%;
}

.signup p {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
}

.signup label {
    font-weight: 700;
    border: none;
    text-align: left;
    width: 200px;
    padding-left: 0;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
    padding: 0.2rem;
    width: 100%;
    font-weight: 700;
    border: 1px solid var(--nav-colour);
}

.signup input[type="text"]:focus,
.signup input[type="email"]:focus,
.signup input[type="password"]:focus {
    outline: 2.5px solid var(--primary-colour); 
}

.signup-btn {
    background-color: var(--primary-colour);
    border: none;
    color: white;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}

.signup-btn:hover {
    background-color: var(--nav-colour);
}

.login-link {
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-colour);
}

.login-link:hover {
    color: var(--nav-colour);
}

@media screen and (max-width: 767px) {
    .signup {
        width: 80%;
    }
}