@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

body {
    background: #901B11;
    font-family: Risque;
    color: white
}

/* Header styling */

.header-container {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    margin-top: 20px;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 40px;
}

/* Center section styling */

.center-section {
    position: relative;
    font-size: 36px;
    margin-left: 25px;
    margin-top: 250px;
}

.h1 {
    font-weight: 400;
    color: white
}

a {
    color: #f8f9fa;
}

.btn {
    font-size: 2rem;
}

/* Advent calendar grid */

.calendar-container {
    column-count: 4;
    column-gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.calendar-container > div {
    background-color:  white;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    color: black;
  }

.day img {
    grid-row: 1 / -1;
    grid-column: 1;
    max-width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
div a {
    text-decoration: none;
}
  
figcaption {
    grid-row: 2;
    grid-column: 1;
    padding: .2em .5em;
    justify-self: start;
}
  
