{% extends 'base_template.html' %}


{% block content %}

{% if formset %}
<section class="mt-5 pt-5">
	<div class="calendar-container container">
		{% for form in formset %}
		<div class="card day day{{ forloop.counter }}">

			<div class="cover cover{{ forloop.counter }}">{{ forloop.counter }}
			</div>
			<div>
				<span>{{ form.date }}</span>
				<span>{{ form.gift }}</span>
				<span>{{ form.content }}</span>
			</div>
		</div>
		<!--./day-->
		{% endfor %}
	</div>
	<!--./end-calendar-container-->
</section>

{% endif %}

{% endblock %}