{% extends 'base_template.html' %}

{% block content %}

<section class="calendar">
	<div class="container">

		<div class="row">
			<div class="col-12 mt-3 pt-3">
				<h1 class="text-center">{{ user|title }}'s Calendars</h1>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a role="button" class="btn btn-primary" href="{% url 'create_calendar' %}">Create New Calendar</a>
			</div>
		</div>

		<div class="row">
			{% if user.calendars %}
			{% for calendar in calendars %}
			<div class="col-xs-8 col-md-4 my-3">
				<div class="card">
					<div class="card-title">
						<h1>{{ calendar.name }}</h1>
					</div>
					<div class="card-body">
						<div class="row text-center">
							<div class="col-12">
								<p>{{ calendar.days }} days</p>
							</div>
						</div>
						<div class="card-footer d-block">
							<ul class="list-group list-group-horizontal">
								<li>
									<button class="btn-sm">
										<a class="" href="{% url 'edit_calendar' calendar_id=calendar.unique_id %}">Edit
											Calendar</a></button>
								</li>
								<li>
									<button class="btn-sm">
										<a role="button"
											href="{% url 'view_calendar' calendar_id=calendar.unique_id %}">View</a>
									</button>
								</li>

							</ul>
						</div>

					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>

</section>
{% endblock %}