{% extends 'base_template.html' %}

{% block content %}

<section class="calendar">
	<div class="container">

		<div class="row">
			<div class="col-12 mt-3 pt-3">
				<h1 class="text-center">{{ user|title }}'s Calendars</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-12 text-center">
				<a role="button" class="btn btn-primary" href="{% url 'create_calendar' %}">Create New Calendar</a>
			</div>
		</div>

		<div class="row">
			{% if user.calendars %}
			{% for calendar in calendars %}
			<div class="col-xs-8 col-md-4 my-3">
				<div class="card">
					<div class="card-title">
						<h1>{{ calendar.name }}</h1>
					</div>
					<div class="card-body">
						<div class="row text-center">
							<div class="col-12">
								<p>{{ calendar.days }} days</p>
							</div>
						</div>
						<div class="card-footer">
							<div class="row justify-content-center text-center d-inline-block">
								<div class="col-12">
									
                                    <div class="container m-0 p-0">
                                        <div class="row m-0 p-0">

                                            <div class="col-lg-3">

                                                <button class="btn-sm">
												<a class=""
													href="{% url 'edit_dates' calendar_id=calendar.unique_id %}">Edit
												</a></button>

                                            </div>

                                            <div class="col-lg-3">

                                                <button class="btn-sm">
                                                    <a role="button" 
                                                        href="{% url 'calendar' calendar_id=calendar.unique_id %}">View</a>
                                                </button>
                                            </div>

                                            <div class="col-lg-3">

                                                <button class="btn-sm">
                                                    <a role="button" 
                                                        href="{% url 'settings' calendar_id=calendar.unique_id %}">Settings</a>
                                                </button>

                                            </div>

                                            <div class="col-lg-3">

                                                <div class="fb-share-button"
												    data-href="{% url 'calendar' calendar_id=calendar.unique_id %}"
												    data-layout="button" data-size="small">
												<a target="_blank"
													href="{% url 'calendar' calendar_id=calendar.unique_id %}"
													class="fb-xfbml-parse-ignore">Share</a>
											</div>

                                            </div>

                                        </div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>

</section>
{% endblock %}